
/* Body */
body{
    background-color: #d3d3d3;
}


/* ######################################### */
/* Programming Languages */

    h1,h2,h3,h4,p{
        color:#121d40;
        font-family: 'Metamorphous', cursive;
        text-align: center;
    
    }

    /* Languages##################################### */
    .modal-body>img {
        width: 95%;
        padding: 10px 10px 30px 10px;
        
    }

    .img {
        width: 50px;
        height: 50px;

    }

    #img{
        width: 30px;
    }
    #work{
        width: 75%;
    }
    #words{

        width: 30%;
    }
/* ###################################################### */

.jumbotron {
    width: 100%;

}
.background-image{
    background: url("../images/leaf-background.png");;
    width: cover;
}
.back-gnd{
    background-color: orange;
    padding: 30px 30px 30px 30px;
    box-shadow:  5px 5px 5px ;
}
.wht-text{
color: whitesmoke;
}



/* ######################################### */
/* Programming Languages */

h1,
h2,
h3,
h4,
p {
    color: #121d40;
    font-family: 'Metamorphous', cursive;
    text-align: center;

}
\

/* Languages##################################### */
.modal-body>img {
    width: 95%;
    margin: 10px 10px 10px 10px;
}
